html { font-family: sans-serif; }
p, input, li { font-size: 24px; }
li { padding-bottom: 10px; }
.correct { color: green; }
.incorrect { color: red; }
input.correct { outline: green; }
input.incorrect { outline: red; }

.options {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border: thin solid black;
}
